<!DOCTYPE html>
<html ng-app="surveyApp">
    
    <head>

        <title>Maker Education Asset Inventory</title>

        <!-- Remote styles -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

        <!-- Local styles -->
        <link rel="stylesheet" href="/static/css/select.css">

        <!-- Remote javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="/static/js/survey.js"></script>

        <!-- Local javascript -->
        <script src="/static/js/select.js"></script>

    </head>

    <body ng-controller="surveyController">

        <!-- Survey blurb, common across all stages. -->
        <div class="container">
            <div class="jumbotron">
                <h1>HEdWorks Maker Inventory</h1>
                <p>
                    As part of a <a href="http://makered.wtf/HEdWorks-CEF2014" target="_blank">
					curriculum enrichment programme</a>
					initiated by Maker Education
					working group (MEWG) members at LJMU this inventory aims to:-					
					<ul>
						<li>Identify assets relating to <a href="https://en.wikipedia.org/wiki/STEAM_fields" target="_blank">STEAM</a> across the LJMU estate.</li>
						<li>Map these assets.</li>
						<li>Provide contact and access information to assets.</li>
					</ul>
					<p>
						Its objectives are:-
					</p>
					<ul>
						<li>Improve the discovery and usage of STEAM assets for all.</li>
						<li>Share skills and ideas across campuses.</li>
						<li>Enhance student experiences and foster cross-collaboration.</li>
						<li>Drive external engagement across Liverpool City, and the Merseyside Region.</li>
					</ul>
					
                </p>
				<p>
                <a class="btn btn-primary btn-lg" href="http://makered.wtf/HEdWorks-CEF2014" 
				target="_blank">Find out more...</a>
				</p>
				<p>
					Feel free to contact <a href="http://makered.wtf/members/" target="_blank">
					a member you might know</a> for information or help. Or 
					<a href="mailto:cms-mewg@ljmu.ac.uk?Subject=HEdWorks Inventory" target="_top" >
					contact the group</a> directly.
				</p>
            </div>
        </div>

        <!-- Error field, only visible if we could not submit the form -->
        <div class="container" ng-show="error">
            <div class="panel panel-danger">
                <div class="panel-heading">There was a problem submitting your response</div>
                <div class="panel-body">
                    <p>
                        We couldn't upload the response; please click the button below to send
                        your response via email instead.
                    </p>
                </div>
            </div>
        </div>

        <!-- Survey form, only visible until submission. -->
        <div class="container" ng-hide="submitted || error">

            <!-- User identification -->
            <div class="panel panel-default">
                <div class="panel-heading">About you</div>
                <div class="panel-body">
                    <p>
                        It's important we get the details of anyone adding to the inventory. Please
						complete all the fields about you. You only have to complete this panel once.
                    </p>
                    <form class="form" name="personForm" novalidate>
                        <div class="form-group">
                            <label for="nameInput">Name</label>
                            <input ng-model="name" type="text" class="form-control" id="nameInput" placeholder="Enter name" required="true">
                        </div>
                        <div class="form-group">
                            <label for="emailInput">Email</label>
                            <input ng-model="email" type="email" class="form-control" id="emailInput" placeholder="Enter email" required="true">
                        </div>
                        <div class="form-group">
                            <label for="facultyInput">Faculty</label>
                            <select ng-model="faculty" class="form-control" id="facultyInput" ng-class="{'has-error': personForm.nameInput.$invalid && personForm.nameInput.$dirty}">
                                <option>Faculty of Arts, Professional and Social Studies</option>
                                <option>Faculty of Education, Health and Community</option>
                                <option>Faculty of Science</option>
                                <option>Faculty of Technology and Environment</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Asset entry -->
            <div class="panel panel-default" ng-controller="assetController">
                <div class="panel-heading">Inventory item</div>
                <div class="panel-body">
                    <p>
                        Please tell us about the item(s) you would like us to map to the maker inventory:-
						<ol>
							<li>Complete all the fields in this panel.</li>
							<li>Click 'Add to list' button.</li>
							<li>Successful additions appear in a table below the button.</li>
							<li>If there's a mistake click 'Remove', and enter the item again.</li>
							<li>Continue completing the panel's fields for any remaining items in order to 'Add to list'.</li>
							<li>Click 'Submit' button when you are finished.</li>
							<li>Come back here again to add more cool stuff!</li>
						</ol>
                    </p>
                    <form class="form" name="assetForm" ng-submit="assetForm.$valid && addAsset(inventory)" novalidate>
                        <div class="form-group">
                            <label for="equipmentSelect">Equipment</label>
                            <ui-select ng-model="asset.item" ng-disabled="disabled" style="min-width: 300px;" title="Choose equipment" required="true">
                                <ui-select-match placeholder="Select a piece of equipment or search by type...">{{$select.selected.item}}</ui-select-match>
                                <ui-select-choices group-by="'category'" repeat="element.item as element in equipment | propsFilter: {item: $select.search}">
                                    <div ng-bind-html="element.item | highlight: $select.search"></div>
                                    <small>{{element.item}}</small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label for="descriptionInput">Description</label>
                            <input type="text" required="false" ng-model="asset.description" class="form-control" id="descriptionInput" placeholder="Item description (optional)"</input>
                        </div>
                        <div class="form-group">
                            <label for="quantityInput">Quantity</label>
                            <input type="number" min="1" required="true" ng-model="asset.quantity" class="form-control" id="quantityInput" placeholder="Enter quantity">
                        </div>
                        <div class="form-group">
                            <label for="locationSelect">Building</label>
                            <ui-select ng-model="asset.location" ng-disabled="disabled" style="min-width: 300px;" title="Choose equipment" required="true">
                                <ui-select-match placeholder="Select a building or search by name...">{{$select.selected.building}}</ui-select-match>
                                <ui-select-choices group-by="'site'" repeat="location.building as location in locations | propsFilter: {building: $select.search}">
                                    <div ng-bind-html="location.building | highlight: $select.search"></div>
                                    <small>{{location.building}}</small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label for="availabilityInput">Availability</label>
                            <select class="form-control" ng-model="asset.availability" id="availabilityInput">
                                <option>On site: students supervised by inducted staff</option>
                                <option>On site: all users supervised</option>
                                <option>On site: no supervision, induction may be required</option>
                                <option>Off site: students supervised by inducted staff</option>
                                <option>Off site: all users supervised</option>
                                <option>Off site: no supervision (home use), induction may be required</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="trainingInput">Induction or training</label>
                            <select class="form-control" ng-model="asset.training" id="trainingInput">
                                <option>None</option>
                                <option>Induction or training available for all</option>
                                <option>Induction or training for staff or postgraduates only</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-success btn-sm pull-right" value="Add to list">
                    </form>
                </div>

                <!-- When the user has not entered any assets, let them know that they have to -->
                <div class="panel-footer" ng-hide="inventory.length">
                    <p>
                        Please enter an item to get started. Items added appear here.
                    </p>
                </div>

                <!-- Asset table that only shows when some assets are entered -->
                <table class="table" ng-show="inventory.length" ng-show="inventory.length">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Location</th>
                            <th>Availability</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="asset in inventory">
                            <td>{{ asset.item }}</td>
                            <td>{{ asset.quantity }}</td>
                            <td>{{ asset.location }}</td>
                            <td>{{ asset.availability }}</td>
                            <td>
                                <button class="btn btn-default btn-xs pull-right" ng-click="removeAsset(inventory, asset)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!-- Actions -->
            <button class="btn btn-success btn-lg pull-right" ng-click="personForm.$valid && inventory.length && upload()">Submit</a>

        </div>

        <!-- Thanks message, only shown when the form is submitted. -->
        <div class="container" ng-show="submitted">
            <div class="panel panel-success">
                <div class="panel-heading">Thanks for your Submission</div>
                <div class="panel-body">
                    <p>
                        Thanks a lot for submitting your response to the HEdWorks Maker Inventory.  
						We will keep you updated on the progress of the inventory and how to access it
						in the future. Feel free to contact us in the meantime, and please disseminate 
						this survey among colleagues.
					</p>
					<p>
						Yours sincerely,
					</p>
					<p>
						Brett Lempereur (Project lead), Mark Felthamn (Project co-lead), 
						David Llewellyn-Jones (Technical lead), Mark Sabino (Technical co-lead), 
						and all at MEWG.
                    </p>
                </div>
            </div>
        </div>
        
    </body>


</html>

